body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cardImage {
  height: 215px;
  width: 363px;
  border-radius: 25px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.cardTwo {
  margin-left: 2rem;
}
.cardFour {
  margin-left: 2rem;
}
